* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Changing the backgound color of the body of the html . */
body {
    background-color: #d9dcd6;
}

/*Changes header styling.*/
.header  {
    padding: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/*Changes the h1 tag's styling within header class. Specifically the display type and font size.*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/*Changes the h1 tag's styling within header class. Specifically adding color to the seo class.*/
.header h1 .seo {
    color: #d9dcd6;
}


/*Changes the na tag's styling within header class. Specifically the nav.*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*Changes the na tag's styling within header class. Specifically the nav's child ul*/
.header nav ul {
    list-style-type: none;
}

/*Changes the na tag's styling within header class. Specifically the ul's child li.*/
.header nav li { 
    display: inline-block;
    margin-left: 25px;
 }

/*Changes anchor tags' styling.*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Changes paragraph tags' styling.*/
p {
    font-size: 16px;
}

/*Changes hero class styling.*/
.hero  {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Makes sure the class float-left is actually floating left.*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*Makes sure the class float-right is actually floating right.*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*Changes content class styling.*/
.content   {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Changes benefits class styling.*/
.benefits  {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Changes benefit-lead class styling.*/
.benefit-lead  {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Changes benefit-brand class styling.*/
.benefit-brand  {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Changes benefit-cost class styling.*/
.benefit-cost  {
    margin-bottom: 32px;
    color: #ffffff;
}

/*Changes benefit-lead class's h1 styling.*/
.benefit-lead h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Changes benefit-brand class's h3 styling.*/
.benefit-brand h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Changes benefit-cost class's h3 styling.*/
.benefit-cost h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*Changes benefit-lead class's img styling.*/
.benefit-lead img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Changes benefit-brand class's img styling.*/
.benefit-brand img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Changes benefit-cost class's img styling.*/
.benefit-cost img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Changes search-engine-optimization's styling.*/
.search-engine-optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;

}

/*Changes online-reputation-management's styling.*/
.online-reputation-management {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Changes social-media-marketing's styling.*/
.social-media-marketing {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*Changes search-engine-optimization's img styling.*/
.search-engine-optimization img {
    max-height: 200px;
}

/*Changes online-reputation-management's img styling.*/
.online-reputation-management img {
    max-height: 200px;
}

/*Changes social-media-marketing's img styling.*/
.social-media-marketing img {
    max-height: 200px;
}

/*Changes search-engine-optimization's h2 styling.*/
.search-engine-optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Changes online-reputation-management's h2 styling.*/
.online-reputation-management h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Changes social-media-marketing's h2 styling.*/
.social-media-marketing h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*Changes footer styling*/
.footer  {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Changes footer's h2 styling.*/
.footer h2 {
    font-size: 20px;
}